---
name: Run lint/test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 10
    permissions:
      contents: read
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup aqua
        timeout-minutes: 5
        with:
          aqua_version: v2.56.6
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      - name: go test
        timeout-minutes: 6
        run: go test ./...
  golangci:
    timeout-minutes: 10
    permissions:
      contents: read
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup aqua
        timeout-minutes: 5
        with:
          aqua_version: v2.56.6
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      - name: golangci-lint
        timeout-minutes: 6
        run: golangci-lint run
  typos:
    timeout-minutes: 10
    permissions:
      contents: read
    name: typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup aqua
        timeout-minutes: 5
        with:
          aqua_version: v2.56.6
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      - name: typos
        timeout-minutes: 6
        run: typos .
  actionlint:
    timeout-minutes: 10
    permissions:
      contents: read
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup aqua
        timeout-minutes: 5
        with:
          aqua_version: v2.56.6
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      - name: typos
        timeout-minutes: 6
        run: actionlint
